@import '../../styles.scss';

main {
  font-family: Open Sans;
  font-style: normal;

  #tipBox {
    margin: 40px auto 0;
    padding: 20px 5px 20px 30px;
    width: 70%;
    font-size: 14px;
    color: $primary-color;
    border: 1px solid #D1DDE7;
    border-top: 5px solid $primary-button-bg;
    border-radius: 0.25rem;
    background-color: #FFF;

    .tipText {
      flex: 1 0 71.8%;
    }

    .clearIcon {
      font-weight: bold;
      color: $primary-button-bg;
      position: relative;
      top: -15px;
      cursor: pointer;
    }
  }

  .infoBox {
    flex: 1 0 91%;
  }
  .infoBoxRight {
    width: 23px;
  }

  h1 {
    margin-top: 40px;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 36px;
    line-height: normal;
    text-transform: uppercase;
    color: #000000;
    border-bottom: 1px solid #D1DDE7;
  }

  .subDescription {
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: $primary-color;
  }

  form {
    margin-top: 40px;

    #tipBox {
      display: none;
    }

    .extraPLeft5 {
      padding-left: 5px;
    }
    .isbnSection {
      flex: 1 0 70.1%;
    }
    .isbnSectionShort {
      flex: 1 0 57.75%;
    }
    .qtySection {
      width:80px;
    }
    .isbn_label {
      margin-bottom: 12px;
      font-weight: bold;
      font-size: 14px;
      line-height: normal;
      color: #878C99;
    }
    .isbnInput::-ms-clear {
      display: none;
    }
    .initial {
      border: 1px solid #D1DDE7;
      box-sizing: border-box;
      border-radius: 4px;

      &_isbn {
        padding: 8px 10px 10px;
        width: 99%; // 526px;
        height: 40px;
        min-height: auto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: $primary-color;
        overflow: hidden;
      }

      &_isbnShort {
        padding: 8px 10px 10px;
        width: 99%; // 472px;
        height: 40px;
        min-height: auto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: $primary-color;
        overflow: hidden;
      }

      &_isbn_qty {
        padding: 8px 9px 10px;
        width: 53px;
        height: 40px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        color: $primary-color;
      }

      &_btn {
        width: 40px;
        height: 40px;
        background: $primary-button-bg;

        .expandIcon{
          width: 24px;
          position: relative;
          left: -.15em;
          top: 2px;
          font-weight: bold;
          color: #FFF;
        }
      }
    }
    .errorIconBtn {
      margin-top: -5px;
      position: absolute;
      left: -7px;
      color: #E7D000;
    }
    _:-ms-lang(x), .errorIconBtn {
      margin-top: -3px;
    }
    .backOrderBox  {
      margin-right: 5px;
      border: 2px solid #E7D000;
    }
    .withError {
      color: $error-txt;
      border: 2px solid $error-txt;
    }
    .qtyBox {
      width: 55px;
    }
    .deleteBtn {
      width: 25px;
    }
    .isbnInfo {
      margin: -8px 0 15px 0;
      padding: 15px 18px;
      flex: 1 0 91%;
      font-size: 12px;
      border-radius: 4px;
      border: 1px solid #FFF;
      box-shadow: 0px 7px 16px rgba(16, 65, 113, 0.14);
      background-color: #FFF;

      .available {
        margin-bottom: 7px;
        font-weight: bold;
        font-size: 14px;
        color: $primary-button-bg;
        text-transform: uppercase;
        display: block;
      }
      .bookTitle {
        margin-top: 20px;
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: normal;
        color: $primary-color;
        display: block;
      }
      .bookAuthor {
        margin-bottom: 18px;
        font-size: 14px;
        font-weight: normal;
        color: $primary-color;
        display: block;
      }
      .backOrderQty {
        padding: 5px 10px 0;
        position: absolute;
        top: 0;
        right: -5px;
        font-size: 12px;
        color: $primary-color;
        background: rgba(231, 208, 0, 0.2);
        border-radius: 0.25rem;
        .errorIcon{
          margin-right: 5px;
          color: #E7D000;
        }
        span {
          position: relative;
          top: -7px;
        }
      }
      .backOrderQty::-ms-clear {
        padding-top: 8px;
      }
      .price {
        font-size: 22px;
        color: $primary-button-bg;
        line-height: 1em;
        .netPrice {
          margin-top: 10px;
          width: 100%;
          font-size: 12px;
          color: $primary-button-bg;
          display: table;
        }
        .retailPrice {
          margin-top: -5px;
          width: 100%;
          font-size: 12px;
          color: $error-txt;
          display: table;
        }
      }

      dl {
        dt {
          width: 130px;
          font-weight: normal;
          float: left;
        }
        dd {
          margin-bottom: 5px;
          font-weight: 700;
          display: table;
        }
      }
    }

    .trashIcon{
      position: relative;
      top: 8px;
      left: 0;
      color: #999999;
      cursor: pointer;
    }
    .disabled {
      background: #D1DDE7;
      opacity: 0.5;
    }
    .errorTXT {
      font-weight: 800;
      font-size: 12px;
      color: $error-txt;
    }
    .small-paddingRight {
      padding-right: 35px;
    }
    .isbnTitle {
      flex: 1 0 70%;
      color: $primary-button-bg;
    }
    .isbnPrice {
      width: 80px;
      color: $primary-button-bg;
      text-align: right;
    }

    .addCart {
      margin-bottom: 5rem;
      padding-top: 19px;
      padding-bottom: 28px;
      width: 100%;
      background: #FFFFFF;
      border: 5px solid #D1DDE7;
      box-sizing: border-box;
      border-radius: 0.25rem;
      text-align: center;

      small {
        padding-bottom: 17px;
        font-weight: normal;
        font-size: 12px;
        text-transform: uppercase;
        line-height: normal;
        color: $primary-color;
        display: block;

        .subtotal {
          font-size: 15px;
          display: block;
        }
      }

      button {
        width: 160px;
        height: 40px;
        color: #FFF;
        font-weight: bold;
        background: $primary-button-bg;
        border-radius: 0.25rem;
        line-height: 1em;
        &.zeroAmount {
          background: #F4F8F9;
          border: 1px solid #D1DDE7;
          color: #D1DDE7;
        }

        &.addedCart {
          background: #F4F8F9;
          border: 1px solid $primary-button-bg;
          color: $primary-button-bg;
          cursor: pointer;
        }

        i {
          margin-right: 20px;
          padding-top: 5px;
          font-size: 20px;

          &.addedCartIcon {
            margin-right: 10px;
          }
        }
        span {
          font-size: 15px;
          position: relative;
          top: -5px;

          &.addedCartTxt {
            font-size: 14px;
          }
        }
      }
    }

    .spaceHoldSection {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 991px) {
.initial_btn {
  width: 32px
}
.expandIcon{
  left: -8px;
}
}
@media (max-width: 767px) {
main {
  #tipBox {
    display: none;
  }

  form {
    .cartHolder {
      padding: 0;
    }

    .spaceHoldSection {
      margin-bottom: 0;
      display: none;
    }

    .addCart {
      margin-bottom: 0;
    }

    #tipBox {
      margin-top: 1rem;
      margin-bottom: 3rem;
      width: 100%;
      display: inline-flex;
    }

    .isbnInfo {
      .available {
        margin-bottom: 38px;
      }

      .backOrderQty {
        top: 22px;
      }
    }

    .withSmall {
      margin-top: 15px;
    }
  }
}
}
@media (max-width: 576px) {
.isbnInfo {
  padding: 10px 7px;
}
}
@media (min-width: 768px) {
.col-md-4 {
  flex: 1 0 33%;
  max-width: 33.33333333%;
}
}
@media (max-width: 446px) {
main {
  form {
    .col-12 {
      margin-bottom: 8px;
    }

    .initial_btn {
      width: 20px;

      .expandIcon{
        left: -.5em;
      }
    }
    .isbnInfo {
      margin-top: unset;
    }
    dl {
      line-height: 1.15;
      dt {
        width: 100% !important;
        font-weight: normal;
        float: none !important;
      }
      dd {
        margin-bottom: 5px;
        font-weight: 700;
        display: table;
      }
    }
  }
}
}
@media (max-width: 360px) {

}
