<main class="container">
  <div class="form-row">
    <div class="col-12">
        <div id="tipBox" class="form-row">
            <div class="tipText">
                <strong>TIP:</strong> You can copy and paste your list of ISBNs and quantities from a spreadsheet into the form fields to auto populate your order.
            </div>
            <i class="material-icons clearIcon" (click)="closeTipBox()" onfocus="this.blur()">
                clear
            </i>
        </div>
    </div>

    <div class="col-12">
      <h1>Bulk Order</h1>
      <span class="subDescription">Quickly Check and Order Products</span>
    </div>
  </div>

  <div class="form-row">
      <form class="col-12" id="bulkOrderForm" [formGroup]="form" (keydown.enter)="$event.preventDefault()">
        <div class="form-row">

          <div class="col-md-8 col-sm-12 pr-0">
              <div class="form-row mr-0">
                  <div class="form-group isbnSection mb-0 pr-0">
                    <label class="isbn_label" for="initialISBN">ISBN 10/13</label>
                  </div>
                  <div class="form-group qtySection mb-0 pl-0 pr-0">
                    <label class="isbn_label" for="initialISBNQty">QTY</label>
                  </div>
              </div>

              <div class="form-row mr-0" id="singleIsbnGroup_0" *ngIf="isbnListResult.length === 0">
                  <div class="form-group isbnSection pr-0">
                    <textarea formControlName="isbn" class="form-control initial_isbn" id="initialISBN_0" autofocus
                      (paste)="onMultiISBN($event)"
                    ></textarea>
                  </div>
                  <div class="form-group qtySection pl-0 pr-0">
                    <input type="tel" formControlName="quantity" class="form-control initial_isbn_qty" id="initialISBNQty_0" autocomplete="off" (focus)="onSingleISBN(0)" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                  </div>
              </div>

              <div formArrayName="isbnLists">
                <div class="form-row mr-0" *ngFor="let phone of isbnListForms.controls; index as i; let last = last;" [formGroupName]="i" id="isbnGroup_{{i}}">

                    <div class="form-group pr-0 mb-0" [ngClass]="{'d-none': isbnListResult[i].error.flag || last, '': !isbnListResult[i].error.flag}">
                        <i class="material-icons errorIconBtn"
                           *ngIf="isbnListResult[i].hasOwnProperty('info') && isbnListResult[i].info.hasOwnProperty('backOrder') && !isbnListResult[i].restrictedStatus">
                            error
                        </i>
                        <i class="material-icons errorIconBtn" *ngIf="isbnListResult[i].restrictedStatus">
                          error
                      </i>

                        <button type="button" class="initial_btn form-control" (click)="getExpandInfo(i)" onfocus="this.blur()">
                          <i class="material-icons expandIcon">
                            expand_{{expandStatus[i] ? 'more' : 'less'}}
                          </i>
                        </button>
                    </div>
                    <div class="form-group pr-0 mb-0 col-12"
                          [ngClass]="{
                            'pl-0 isbnSection': isbnListResult[i].error.flag || last,
                            'extraPLeft5 isbnSectionShort': !isbnListResult[i].error.flag && !last}">
                        <input type="tel" formControlName="isbn" id="isbnNumber_{{i}}" class="form-control isbnInput" autocomplete="off" pattern="[0-9]*"
                          [class.withError]="isbnListResult[i].error.flag"
                          [ngClass]="{
                            'initial_isbn': isbnListResult[i].error.flag || last,
                            'initial_isbnShort': !isbnListResult[i].error.flag && !last
                          }"
                          (paste)="treatIsbnInfo($event, i)" (keyup)="treatIsbnInfo($event, i)">
                          <small class="availableText" id="isbnAvailable_{{i}}"
                          *ngIf="!isbnListResult[i].error.flag && !last && isbnListResult[i].hasOwnProperty('info')">{{this.isbnListResult[i].info.availability}}</small>
                    </div>
                    <div class="form-group qtyBox pl-0 pr-0 mb-0">
                        <input type="tel" formControlName="quantity" id="isbnQty_{{i}}" class="form-control initial_isbn_qty" autocomplete="off"
                          [class.backOrderBox]="isbnListResult[i].hasOwnProperty('info') && isbnListResult[i].info.hasOwnProperty('backOrder')"
                          [ngClass]="{
                            'withError': isbnListResult[i].error.flag,
                            '': !isbnListResult[i].error.flag}"
                          onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                          (keyup)="calculatePreSubTotal($event, i)"
                          *ngIf="!isbnListResult[i].restrictedStatus">
                          <span class="disabled initial_isbn_qty form-control" *ngIf="isbnListResult[i].restrictedStatus"></span>

                          <input type="hidden" formControlName="status">
                          <input type="hidden" formControlName="product_id">
                    </div>

                    <div class="form-group deleteBtn pl-0 pr-0 mb-0">
                        <i class="material-icons trashIcon" (click)="deleteIsbn(i)" onfocus="this.blur()" *ngIf="deleteBtnStatus[i]">
                            delete
                        </i>
                    </div>

                  <div class="form-group pr-0 col-12">
                      <small *ngIf="isbnListResult[i].error.flag && !last" id="isbnListResult[{{i}}].error[{{i}}]" class="form-text errorTXT small-paddingRight">
                        {{isbnListResult[i].error.message}}
                      </small>
                      <span *ngIf="!isbnListResult[i].error.flag && !expandStatus[i] && !last" class="form-row small-paddingRight"
                            [class.withSmall]="availableStatus[i]">
                        <small id="isbnTitle[{{i}}]" class="form-text isbnTitle" *ngIf="isbnListResult[i].hasOwnProperty('info')">
                          {{isbnListResult[i].info.title}}
                        </small>
                        <small id="isbnPrice[{{i}}]" class="form-text isbnPrice" *ngIf="isbnListResult[i].hasOwnProperty('info')">
                          {{updateItemSubTotal(i) | currency}}
                        </small>
                      </span>
                  </div>

                  <div [hidden]="!expandStatus[i] || last || isbnListResult[i].error.flag" class="form-row col-12 pr-0">
                      <small id="isbnInfoSection[{{i}}]" class="form-row isbnInfo" *ngIf="isbnListResult[i].hasOwnProperty('info')">
                          <div class="col-12 pl-0 pr-0">
                              <span class="available">
                                {{isbnListResult[i].info.availability}}
                              </span>
                              <div class="backOrderQty" *ngIf="isbnListResult[i].restrictedStatus">
                                <i class="material-icons errorIcon">
                                    error
                                </i>
                                <span [innerHTML]="isbnListResult[i].restrictedText"></span>
                              </div>

                              <div class="backOrderQty" *ngIf="isbnListResult[i].info.hasOwnProperty('backOrder') && !isbnListResult[i].restrictedStatus">
                                <i class="material-icons errorIcon">
                                    error
                                </i>
                                <span>{{isbnListResult[i].info.backOrder}} on backorder</span>
                            </div>

                              <span class="bookTitle">
                                {{isbnListResult[i].info.title}}
                              </span>
                              <span class="bookAuthor">
                                by {{isbnListResult[i].info.authors}}
                              </span>
                          </div>
                          <div class="col-7 pl-0 mb-0">
                            <dl>
                              <dt *ngIf="isbnListResult[i].info.edition !== ''">Edition</dt>
                              <dd *ngIf="isbnListResult[i].info.edition !== ''">{{isbnListResult[i].info.edition | numberSuffix}}</dd>
                              <dt>Pub Date</dt>
                              <dd>{{isbnListResult[i].info.pub_date | date}}</dd>

                              <dt>Copyright Year</dt>
                              <dd>{{isbnListResult[i].info.copyright_year}}</dd>
                              <dt>ISBN 10</dt>
                              <dd>{{isbnListResult[i].info.isbn10}}</dd>

                              <dt>ISBN 13</dt>
                              <dd>{{isbnListResult[i].info.isbn13}}</dd>
                              <dt *ngIf="isbnListResult[i].info.imprint !== ''">Publisher</dt>
                              <dd *ngIf="isbnListResult[i].info.imprint !== ''">{{isbnListResult[i].info.imprint}}</dd>

                              <dt>Page Count</dt>
                              <dd>{{isbnListResult[i].info.page_count}}</dd>
                              <dt>Dimensions</dt>
                              <dd>{{isbnListResult[i].info.depth}} x {{isbnListResult[i].info.width}} x {{isbnListResult[i].info.length}}</dd>

                              <dt>Binding Format</dt>
                              <dd>{{isbnListResult[i].info.binding}}</dd>
                              <dt>Units Per Carton</dt>
                              <dd>{{isbnListResult[i].info.units_per_carton}}</dd>
                            </dl>
                          </div>
                          <div class="col-5 pl-0 pr-0 mb-0 text-right price">
                              <span id="preSubTotal[{{i}}]">{{updateItemSubTotal(i) | currency}}</span>
                              <small class="netPrice">
                                {{isbnListResult[i].info.net_price | currency}} each
                              </small>
                              <small class="retailPrice">
                                (Retail price: {{isbnListResult[i].info.list_price | currency}})
                              </small>
                          </div>
                      </small>
                      <div class="infoBoxRight pl-0 pr-0">
                        &nbsp;
                      </div>
                  </div>

                </div>
              </div>

              <div class="form-row mr-0 spaceHoldSection">
                  <div class="form-group isbnSection pr-0">
                    <span class="disabled initial_isbn form-control"></span>
                  </div>
                  <div class="form-group qtySection pl-0 pr-0">
                    <span class="disabled initial_isbn_qty form-control"></span>
                  </div>
              </div>
          </div>

          <div class="col-md-4 col-sm-12 cartHolder">
            <div class="addCart">
              <small>subtotal
                  <span class="subtotal">{{subTotal | currency}}</span>
              </small>

              <button onfocus="this.blur()" [class.zeroAmount]="subTotal === 0" [disabled]="subTotal === 0" (click)="onSubmit()" *ngIf="!submitted">
                <i class="material-icons">shopping_cart</i>
                <span>Add to Cart</span>
              </button>

              <button onfocus="this.blur()" class="addedCart" *ngIf="submitted">
                <i class="material-icons addedCartIcon">done</i>
                <span class="addedCartTxt">Added to Cart</span>
              </button>
            </div>

            <div class="col-12 pl-0 pr-0">
                <div id="tipBox" class="form-row">
                    <div class="tipText">
                        <strong>TIP:</strong> You can copy and paste your list of ISBNs and quantities from a spreadsheet into the form fields to auto populate your order.
                    </div>
                    <i class="material-icons clearIcon" (click)="closeTipBox()" onfocus="this.blur()">
                        clear
                    </i>
                </div>
            </div>
          </div>

        </div>
      </form>
  </div>
</main>
