/* You can add global styles to this file, and also import other style files */
$font-stack:    Helvetica, sans-serif;
$primary-color: #222222;
$primary-button-bg: #104171;
$error-txt: #FF5959;

.availableText {
  position: absolute;
  top: 11px;
  right: 12px;
  color: #104171;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .availableText {
    top: unset;
    right: -50px;
  }
  .hideText {
    display: none;
  }
}
